@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.anticon-spin {
    transform-origin: center center;
    animation-name: rotating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.anticon {
    display: inline-block;
    vertical-align: -0.125em;
    line-height: 0;
}